{{ template "chrome/head.html" . }}
<body class="archive category col-3cm full-width topbar-enabled chrome">

<div id="wrapper">
    {{ template "chrome/header.html" . }}

    <div class="container" id="page">
        <div class="container-inner">
            <div class="main">
                <div class="main-inner group">
                    <section class="content">
                        <div class="page-title pad group">
                            <h1><i class="fa fa-folder-open"></i>Inhalte mit dem Tag: <span>{{ .Title }}</span></h1>
                        </div>
                        <div class="pad group">
                            {{ if eq .Title "Australien" }}
                            <div class="notebox">
                                <p>Unsere Abenteuer in Australien</p>
                            </div>
                            {{end}}
                            {{ template "partials/postListGroup.html" . }}
                        </div>
                    </section>
                    {{ template "chrome/sidebarLeftCategories.html" . }}
                    {{ template "chrome/sidebarRight.html" . }}
                </div>
            </div>
        </div>
    </div>
    {{ template "chrome/footer.copyright.html" . }}
</div>
{{ template "chrome/footer.html" . }}